body {
    background-color: chartreuse;
    text-align: center;
}

.table-park {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: left;
    
}

.table-park th {
    border: solid 1px black;
    background: white;
}

.table-park td {
    border: solid 1px black;
    background: white;
}